// src/css/quasar.variables.sass

$primary   : rgb(5, 188, 255)
$secondary : #1cbdad
$accent    : #9c27b0

$dark      : #080e1a
$dark-page : #121212
$dark-8    : #303f5e
$dark-9    : #152340

$positive  : #5cb860
$success   : #5cb860
$negative  : #f44336
$info      : #00d3ee
$warning   : #ffa21a
$body      : #eeeeee

// src/css/quasar.variables.sass

$dark-primary   : #a60bff
$secondary : #26A69A
$accent    : #9C27B0

$dark      : #080e1a
$dark-page : #121212

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037
